@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 40px;
}

.navbar-icon {
    font-weight: 900;
}

/* Début des scripts liés au lien du menu */

.navbar-links {
    display: flex;
    flex-direction: row;
    place-items: center;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar-links li {
    margin-left: 60px;
}

.navbar-links a {
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-weight: 500;
    -webkit-font-smoothing : antialiased;
    font-size: small;
}

/* Fin des scripts liés au lien du menu */

/* Début des scripts liés au bouton */

.blue-button {
    background-color: rgb(65, 105, 255);
    color: white;
    border: none;
    font-size: small;
    font-weight: 500;
    -webkit-font-smoothing : antialiased;
    transition: 0.3s ease-in-out;
}

.blue-button:hover {
    background-color: rgb(102, 136, 240);
}

.navbar-links button {
    margin-left: 60px;
    padding: 8px 20px;
    border-radius: 7px;
}

/* Fin des scripts liés au bouton */

/* Début des scripts liés à la section top container */

.home-top-container {
    background: #edf2fb;
    height: 80vh;
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

.home-top-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    place-items: center;
}

.home-top-text {
    width: 50%;
}

.home-top-text h1 {
    color: rgb(64, 64, 64);
    font-size: 40px;
    font-weight: 800;
}

.home-top-text p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    color: rgb(135, 135, 135);
}

.home-top-text button {
    margin-top: 30px;
    padding: 17px 45px;
    border-radius: 30px;
}

.home-top-image img {
    max-width: 600px;
}

/* Fin des scripts liés à la section top container */

/* Début de la section des collections */

.collection-container {
    background-color: #c7d5f1;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 20px;
}

.collection-container h1 {
    color: rgb(64, 64, 64);
    font-weight: 800;
    font-size: 40px;
    margin-top: 40px;
}

.collection-items-wrapper {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 50px;
}

.collection-item {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.collection-icon {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    color: rgb(64, 64, 64);
    display: flex;
    place-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
}

.collection-icon:hover {
    background-color: #3361bd;
    color: white;
}

.collection-name {
    margin-top: 25px;
    color: rgb(64, 64, 64);
}

/* Fin de la section des collections */

/* Début de la section des produits *

/* Fin de la section des produits */